.errorTitle {
  color: red;
}
.navTitle {
  color: white;
}
.navSideBar {
  height: 90vh;
}
.successMessage {
  color: forestgreen;
}
.warningMessage {
  color: darkgoldenrod;
}
.form {
  border: 8px solid black;
}
